<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="DataSource" value="192.168.100.107\KBFWORKDEV" />
		<add key="InitialCatalog" value="Vaccinations" />
		<add key="UserId" value="Sa" />
		<add key="Password" value="Sa123" />
		<add key="PointID" value="" />
		
		
	</appSettings>
</configuration>